JWT_KEY=''
TOKEN_EXPIRATION=0
BEARER=Bearer
TZ=utc

DB_HOST=''
DB_PORT=0
DB_USER=''
DB_PASS=''
DB_DIALECT=''
DB_NAME_PRODUCTION=''


DB_HOST_DEVELOPMENT=''
DB_PORT_DEVELOPMENT=0
DB_USER_NAME_DEVELOPMENT=''
DB_PASS_NAME_DEVELOPMENT=''
DB_DIALECT_DEVELOPMENT=''
DB_NAME_DEVELOPMENT=''
